In [2]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [6]:
date = dt.date(2020, 5, 12)

In [7]:
date.day

12

In [12]:
datetime = dt.datetime(2020, 5, 12, 10, 10, 10)

In [13]:
datetime.hour

10

In [15]:
pd.Timestamp(year=2020, month=12, day=16)

Timestamp('2020-12-16 00:00:00')

In [3]:
pd.date_range(start='2016-01-01', end='2016-01-31', freq='D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-16',
               '2016-01-17', '2016-01-18', '2016-01-19', '2016-01-20',
               '2016-01-21', '2016-01-22', '2016-01-23', '2016-01-24',
               '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28',
               '2016-01-29', '2016-01-30', '2016-01-31'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range(start='2016-01-01', end='2016-01-31', freq='W')

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31'],
              dtype='datetime64[ns]', freq='W-SUN')

In [5]:
pd.date_range(start='2016-01-01', periods=100, freq='2W')

DatetimeIndex(['2016-01-03', '2016-01-17', '2016-01-31', '2016-02-14',
               '2016-02-28', '2016-03-13', '2016-03-27', '2016-04-10',
               '2016-04-24', '2016-05-08', '2016-05-22', '2016-06-05',
               '2016-06-19', '2016-07-03', '2016-07-17', '2016-07-31',
               '2016-08-14', '2016-08-28', '2016-09-11', '2016-09-25',
               '2016-10-09', '2016-10-23', '2016-11-06', '2016-11-20',
               '2016-12-04', '2016-12-18', '2017-01-01', '2017-01-15',
               '2017-01-29', '2017-02-12', '2017-02-26', '2017-03-12',
               '2017-03-26', '2017-04-09', '2017-04-23', '2017-05-07',
               '2017-05-21', '2017-06-04', '2017-06-18', '2017-07-02',
               '2017-07-16', '2017-07-30', '2017-08-13', '2017-08-27',
               '2017-09-10', '2017-09-24', '2017-10-08', '2017-10-22',
               '2017-11-05', '2017-11-19', '2017-12-03', '2017-12-17',
               '2017-12-31', '2018-01-14', '2018-01-28', '2018-02-11',
               '2018-02-25', '2018-03-11', '2018-03-25', '2018-04-08',
               '2018-04-22', '2018-05-06', '2018-05-20', '2018-06-03',
               '2018-06-17', '2018-07-01', '2018-07-15', '2018-07-29',
               '2018-08-12', '2018-08-26', '2018-09-09', '2018-09-23',
               '2018-10-07', '2018-10-21', '2018-11-04', '2018-11-18',
               '2018-12-02', '2018-12-16', '2018-12-30', '2019-01-13',
               '2019-01-27', '2019-02-10', '2019-02-24', '2019-03-10',
               '2019-03-24', '2019-04-07', '2019-04-21', '2019-05-05',
               '2019-05-19', '2019-06-02', '2019-06-16', '2019-06-30',
               '2019-07-14', '2019-07-28', '2019-08-11', '2019-08-25',
               '2019-09-08', '2019-09-22', '2019-10-06', '2019-10-20'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [8]:
dates = pd.date_range(end='2020-01-01', periods=20, freq='D')

In [9]:
series = pd.Series(dates)

In [12]:
series.dt.day
series.dt.month

0     12
1     12
2     12
3     12
4     12
5     12
6     12
7     12
8     12
9     12
10    12
11    12
12    12
13    12
14    12
15    12
16    12
17    12
18    12
19     1
dtype: int64

In [7]:
stocks = data.get_data_yahoo("AMZN", start='2020-01-01')
stocks.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,1853.260010,1832.229980,1842.0,1847.839966,2506500,1847.839966
2020-01-02,1898.010010,1864.150024,1875.0,1898.010010,4029000,1898.010010
2020-01-03,1886.199951,1864.500000,1864.5,1874.969971,3764400,1874.969971
2020-01-06,1903.689941,1860.000000,1860.0,1902.880005,4061800,1902.880005
2020-01-07,1913.890015,1892.040039,1904.5,1906.859985,4044900,1906.859985

In [12]:
stocks.loc['2020-03-01':'2020-03-31']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-03-02,1954.510010,1870.000000,1906.489990,1953.949951,6761700,1953.949951
2020-03-03,1996.329956,1888.089966,1975.369995,1908.989990,7534500,1908.989990
2020-03-04,1978.000000,1922.000000,1946.569946,1975.829956,4772900,1975.829956
2020-03-05,1960.719971,1910.000000,1933.000000,1924.030029,4748200,1924.030029
2020-03-06,1910.869995,1869.500000,1875.000000,1901.089966,5273600,1901.089966
2020-03-09,1862.770020,1761.290039,1773.859985,1800.609985,7813200,1800.609985
2020-03-10,1894.270020,1818.170044,1870.880005,1891.819946,7133300,1891.819946
2020-03-11,1871.319946,1801.500000,1857.849976,1820.859985,5624800,1820.859985
2020-03-12,1765.000000,1675.000000,1721.979980,1676.609985,11346200,1676.609985
2020-03-13,1786.310059,1680.619995,1755.000000,1785.000000,8809700,1785.000000
2020-03-16,1759.449951,1626.030029,1641.510010,1689.150024,8917300,1689.150024
2020-03-17,1857.780029,1689.239990,1775.469971,1807.839966,10917100,1807.839966
2020-03-18,1841.660034,1745.000000,1750.000000,1830.000000,9645200,1830.000000
2020-03-19,1945.000000,1832.650024,1860.000000,1880.930054,10399900,1880.930054
2020-03-20,1957.000000,1820.729980,1926.310059,1846.089966,9817900,1846.089966
2020-03-23,1919.400024,1812.000000,1827.750000,1902.829956,7808500,1902.829956
2020-03-24,1955.000000,1900.339966,1951.500000,1940.099976,7147100,1940.099976
2020-03-25,1950.260010,1885.780029,1920.689941,1885.839966,6479100,1885.839966
2020-03-26,1956.489990,1889.290039,1902.000000,1955.489990,6221300,1955.489990
2020-03-27,1939.790039,1899.920044,1930.859985,1900.099976,5387900,1900.099976
2020-03-30,1973.630005,1912.339966,1922.829956,1963.949951,6126100,1963.949951
2020-03-31,1993.020020,1944.010010,1964.349976,1949.719971,5123600,1949.719971

In [17]:
pd.Series(stocks.index).dt.day
stocks.index + pd.DateOffset(days=5)

DatetimeIndex(['2020-01-05', '2020-01-07', '2020-01-08', '2020-01-11',
               '2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15',
               '2020-01-18', '2020-01-19', '2020-01-20', '2020-01-21',
               '2020-01-22', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-02-01', '2020-02-02', '2020-02-03',
               '2020-02-04', '2020-02-05', '2020-02-08', '2020-02-09',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-15',
               '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19',
               '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
               '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
               '2020-03-04', '2020-03-07', '2020-03-08', '2020-03-09',
               '2020-03-10', '2020-03-11', '2020-03-14', '2020-03-15',
               '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-21',
               '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
               '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
               '2020-04-01', '2020-04-04', '2020-04-05', '2020-04-06',
               '2020-04-07', '2020-04-08', '2020-04-11', '2020-04-12',
               '2020-04-13', '2020-04-14', '2020-04-18', '2020-04-19',
               '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-25',
               '2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29',
               '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
               '2020-05-06', '2020-05-09', '2020-05-10', '2020-05-11',
               '2020-05-12', '2020-05-13', '2020-05-16', '2020-05-17',
               '2020-05-18'],
              dtype='datetime64[ns]', name='Date', freq=None)